.loginBody {
  background-color: #ffffff;
}

form#login {
  width: 400px;
  max-width: 400px;
  margin: auto;
  margin-top: 30px;
  padding: 10% 50px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  border-radius: 18px;
  background: white;
}

.form-title {
  margin-top: 0;
  margin-bottom: 5rem;
  text-align: center;
}

.form-input > input {
  display: block;
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 20px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #dddddd;
  outline: none;
  background: #eeeeee;
  transition: background 0.2s, border-color 0.2s;
}

.form-input > input:focus {
  background: #ffffff;
}

.form-button {
  width: 100%;
  padding: 1rem;
  font-weight: bold;
  font-size: 1.1rem;
  color: white;
  border: none;
  border-radius: 8px;
  background-color: #009933;
  outline: none;
  cursor: pointer;
}

.form-button:hover {
  background: #00802b;
}

.form-button:active {
  transform: scale(0.98);
}

.form-text {
  margin: 20px 0;
  text-align: center;
}

.form-link {
  font: 1rem Arial, sans-serif;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.form-link:hover {
  text-decoration: underline;
}

.welcome-message {
  height: 100vh;
  display: flex;
  justify-content: center;
  font-size: 40px;
}

#dark .welcome-message {
  color: whitesmoke;
}
